/* variables.module.scss */

/// Color
/// @type Color
$primary-color: #64ff00;
$white: #FFFFFF;
$black: #000000;
$gray700: #444444;
$gray: #929292;
$gray600: #888888;
$gray500: #D5D5D5;
$gray400: #EEEEEE;
$gray300: #F5F6F6;
$theme-color--asus: #1D2124;

/// Size
/// @type Size
$text-extra-large: 80px;
$text-large: 50px;
$text-h1: 40px;
$text-h2: 32px;
$text-h3: 26px;
$text-h4: 22px;
$text-h5: 20px;
$text-p: 16px;

/// Weight
/// @type Weight
$bold: 700;
$normal: 500;
$thin: 300;

/// Break-Point max-1400, 1400-1200, 1200-992, 992-768, 768-576, 576-min
/// @type Length
$BREAKPOINT_EXTRA_EXTRA_LARGE: 1400px;
$BREAKPOINT_EXTRA_LARGE: 1200px;
$BREAKPOINT_LARGE: 992px;
$BREAKPOINT_MEDIUM: 768px;
$BREAKPOINT_SMALL: 568px;