//Abstracts
@import "abstracts/__abstract-dir";

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid-half-columns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}