@import "../../styles/style.scss";

.header {
    width: 1200px;
    margin: auto;
    height: 104px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    @include devices(doubleextralargedesktop) {
        width: 992px;
    }

    @include devices(extralargedesktop) {
        width: 825px;
    }

    @include devices(largelaptop) {
        width: calc(100% - 80px);
    }

    @include devices(laptop) {
        width: unset;
        justify-content: center;
    }

    .top-bar {
        @include flex($gap: 40px);

        @include devices(extralargedesktop) {
            gap: 25px;
        }

        @include devices(mobile) {
            display: none;
        }

        li {
            list-style-type: none;
        }

        p {
            color: black;

            &.active {
                box-shadow: inset 0 -10px 0 0 #c8c8c8;
                transition: all 200ms ease;

                &:hover {
                    box-shadow: inset 0 -20px 0 0 #c8c8c8;
                }
            }

            &.inactive {
                transition: all 200ms ease;

                &:hover {
                    opacity: .6;
                }
            }
        }
    }
}

nav {
    display: none;

    @include devices(mobile) {
        display: block;
    }
}

#menuToggle {
    display: block;
    position: relative;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding-inline: 50px;
    padding-block: 56px;
    left: 65px;
    top: -40px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: none;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 14px 0;
    font-size: 16px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    transform: translate(-100%, 0);
}