@import "../../styles/style.scss";

.about-me-wrapper {
    height: 1880px;
    width: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;

    .about-me-bgimage {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .about-me-container {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 50%;
        width: 500px;
        margin-bottom: 50px;

        &.left {
            transform: translateX(-547.5px);
            align-items: flex-end;
            text-align: end;
        }

        &.right {
            transform: translateX(47.5px);
            align-items: flex-start;
        }

        &.education,
        &.internship,
        &.projects,
        &.fulltime {
            &::before {
                position: absolute;
                content: "";
                width: 22px;
                height: 20px;
            }
        }

        &.education {
            &::before {
                background-image: url("./../../../public/education_dot.png");
                transform: translate(-58.5px, 5px);
            }
        }

        &.internship {
            &::before {
                background-image: url("./../../../public/internship_dot.png");
                transform: translate(58.5px, 5px);
            }
        }

        &.projects {
            &::before {
                background-image: url("./../../../public/project_dot.png");
                transform: translate(-58.5px, 5px);
            }
        }

        &.fulltime {
            &::before {
                background-image: url("./../../../public/fulltime_dot.png");
                transform: translate(58.5px, 5px);
            }
        }
    }



    .about-me-title {
        font-size: $text-h3;
        font-weight: $bold;
        color: $black;
    }

    .about-me-subtitle {
        font-size: $text-h5;
        color: $gray;

        &.bold {
            font-weight: $bold;
        }
    }

    .content-container {
        font-size: 18px;
        color: $gray;
        margin-top: 12px;

        .content-title {
            font-weight: $bold;
        }

        .content-subtitle {}
    }

}


// .about-me-container {
//     width: 1320px;
//     position: relative;
//     box-sizing: content-box;
//     padding-inline: 60px;
//     margin-bottom: 60px;
//     gap: 75px;
//     @include flex(column);

//     .about-me-title-wrapper {
//         position: relative;

//         #master {
//             z-index: 12;
//         }

//         #work {
//             z-index: 10;
//         }

//         #education {
//             z-index: 8;
//         }

//         #projects {
//             z-index: 6;
//         }

//         .about-me-button {
//             width: 50px;
//             height: 50px;
//             top: 50%;
//             transform: translateY(-50%);
//             border: 5px solid $white;
//             border-radius: 50%;
//             box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
//             position: absolute;
//             z-index: 2;

//             &:hover {
//                 .tooltip-wrapper {
//                     visibility: visible;
//                     opacity: 1;
//                 }
//             }
//         }

//         &:nth-child(1) {
//             .about-me-title-container {
//                 background-color: #F1966F;
//             }

//             .about-me-button {
//                 background-color: #F1966F;

//                 &:nth-child(1) {
//                     left: 259px;
//                 }

//                 &:nth-child(2) {
//                     left: 687px;
//                 }
//             }
//         }

//         &:nth-child(2) {
//             .about-me-title-container {
//                 background-color: #EBCC2C;
//             }

//             .about-me-button {
//                 background-color: #EBCC2C;

//                 &:nth-child(1) {
//                     left: 404px;
//                 }

//                 &:nth-child(2) {
//                     left: 543px;
//                 }

//                 &:nth-child(3) {
//                     left: 764px;
//                 }

//                 &:nth-child(4) {
//                     left: 1006px;
//                 }
//             }
//         }

//         &:nth-child(3) {
//             .about-me-title-container {
//                 background-color: #4EBDFC;
//             }

//             .about-me-button {
//                 background-color: #4EBDFC;

//                 &:nth-child(1) {
//                     left: 340px;
//                 }

//                 &:nth-child(2) {
//                     left: 475px;
//                 }
//             }
//         }

//         &:nth-child(4) {
//             .about-me-title-container {
//                 background-color: #39C660;
//             }

//             .about-me-button {
//                 background-color: #39C660;

//                 &:nth-child(1) {
//                     left: 545px;
//                 }

//                 &:nth-child(2) {
//                     left: 1073px;
//                 }
//             }
//         }

//         .about-me-title-container {
//             width: 200px;
//             height: 75px;
//             border-radius: 15px;
//             box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

//             p {
//                 line-height: 75px;
//                 text-align: center;
//                 font-size: 24px;
//                 color: $white;
//             }
//         }

//     }

//     .about-me-timeline {
//         position: absolute;
//         width: 1120 px;
//         left: 260px;
//         z-index: 1;
//         top: 25px;
//     }

// }