.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 360px;
}

.carousel-inner-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    gap: 85px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    pointer-events: none;
}